*{
    border: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
button{
    padding: 5px 30px;
    cursor: pointer;
    background-color: darkgray;
    border-radius: 5px;
    color: blue;
}